.box {
    max-width: 1000px;
    margin: 50px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 250px minmax(0, 1fr);
}

header, nav, main, footer{
    border: black 2px solid;
}

header{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

nav{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

main{
    grid-row: 2/3;
    grid-column: 2/3;
}

footer{
    grid-row: 3/4;
    grid-column: 1/3;
}